

h1{
    color: blue;
}

.heading-cls{
    color: orangered;
}

#heading-1{
    /* color: #5732AE; */
    color: rgba(87, 50, 174,0.5);
}

.box{
    border: 5px solid green;
    /* padding: 50px;
    margin: 50px; */
    /* padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 150px;
    padding-left: 200px; */

    /* Two params 1st = Top and bottom , 2nd = left and right*/
    /* padding: 50px 100px; */

    /* Four Params */
    /* padding: 50px 100px 150px 200px; */
}

p{
    border: 2px solid re;
}


.box-1{
    width: 200px;
    height: 200px;
    background-color: blue;
    margin-bottom: 10px;
    padding: 50px;
}

.box-2{
    width: 200px;
    height: 200px;
    background-color: blue;
    box-sizing: border-box;
    padding: 50px;
}

.parent{
    width: 300px;
    height: 300px;
    background-color: orangered;
    /* position: static; */
    /* position: relative; */
    /* top: 50px;
    left: 50px; */
}

.child{
    width: 100px;
    height: 100px;
    background-color: blue;
    /* position: absolute; */
    position: fixed;
    top:0px;
    right: 0px;
}