* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-repeat: no-repeat;
}
.container {
  width: 80%;
  margin: auto;
}
.nav {
  display: flex;
  justify-content: space-between;
  margin: 30px 20px 0 20px;
  align-items: center;
}
.btn2 a {
  padding: 14px 28px;
  background-color: #651fff;
  color: white;
  text-decoration: none;
  border-radius: 20px;
}
.btn1 a {
  padding: 12px 26px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 20px;
  border: 2px solid #000000;
}
.btn {
  display: flex;
  gap: 20px;
}
.bg {
  width: 100%;
  height: 851px;
  background-color: #e0f7fa;
}
.frame {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.frame img {
  margin-top: 20px;
}
.text {
  font-size: 25px;
  color: #000000;
}
.cf {
  color: #651fff;
}
.ellipse {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.main > div > div > p {
  text-align: center;
  margin-top: 20px;
  color: #000000;
}
.primary-btn {
  display: flex;
  justify-content: center;
  gap: 18px;
  padding: 18px 0 0 0;
  margin-top: 20px;
}

.primary-btn .btn3 a {
  padding: 14px 28px;
  background-color: #651fff;
  color: #ffffff;
  text-decoration: none;
  border-radius: 20px;
  display: inline-block;
}
.primary-btn .btn4 a {
  padding: 12px 26px;
  background: transparent;
  color: #0f0f10;
  text-decoration: none;
  border-radius: 20px;
  border: 2px solid #111112;
  display: inline-block;
}
