:root{
    --primary-color:#651FFF;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
}

a:hover{
    color: #ffffff;
}

.my-primary{
    color:var(--primary-color);
}

.my-btn{
    padding: 10px 30px;
    background-color: var(--primary-color);
    color: #ffffff;
    border-radius: 10px;
}

.banner,
.hero-image,
.lightning{
    padding: 100px 0px;
}

.banner{
    background-color: #EBE5FA;
}

/* lightning start */
.lightning-wrapper > div > div > div{
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 50px;
    border-radius: 20px;
}