


.parent{
   /* display: block; */
   display: flex;
   /* justify-content: flex-start; */
   /* justify-content: center; */
   /* justify-content: flex-end; */
   justify-content: space-between;
   /* justify-content: space-evenly; */
   /* justify-content: space-around; */
   /* align-items: flex-start; */
   /* align-items: center; */
   /* align-items: flex-end; */
   /* flex-wrap: nowrap; */
   /* flex-wrap: wrap; */
   /* flex-direction: row; */
   /* flex-direction: row-reverse; */
   /* flex-direction: column; */
   height: 800px;

}

.parent div{
    /* flex-basis: 200px; */
    width: 200px;
    height: 200px;
    /* background-color: blue; */
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    /* align-self: flex-start; */
    /* align-self: center; */
    /* align-self: flex-end; */
}

.parent div:nth-child(1){
    background-color: orangered;
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    /* order: 2; */
     align-self: flex-start;
}

.parent div:nth-child(2){
    background-color: green;
    /* flex-grow: 2; */
    /* flex-shrink: 2; */
    /* order: 3; */
      align-self: center;
}

.parent div:nth-child(3){
    background-color: hotpink;
    /* flex-grow: 3; */
    /* flex-shrink: 3; */
    /* order: 1; */
    align-self: flex-end;
}